{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Index</h1>

    <h2>{{ curso }}</h2>
    <table>
        <thead>
            <th>Produto</th>
            <th>Preço</th>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id  %}">{{ produto.nome }}</a></td>
                    <td>{{ produto.preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>