{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <h1>Produto</h1>

   <table>
        <thead>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{% url  'index'  %}">{{ produto.nome }}</a></td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
        </tbody>
    </table>
</body>
</html>